
form {
    background-color: #213b50;
    width:700px;
    height: 600px;
    display: block;
    padding: 20px;
}

input {
    margin-bottom: 20px;
    height: 20px;
}

form label {
    display: block;
    color: #ffffff;
}

input[type="text"],input[type="email"],input[type="tel"],select,textarea {
    background-color: #2b4a64;
    width: 300px;
    outline: none;
    height: 20px;
    border: 1px solid #213b50;
    
}


/*przy większej ilości formularzy w css, lepiej odwołać sie do kokretnego formularza wiec wpisać form select, form textarea */


input[type="text"]:focus,input[type="email"]:focus, 
input[type="tel"]:focus,input[type="radio"]:focus, select:focus, textarea:focus {
    background-color:#4e708c;
    color: #ffffff;
    border: 1px solid #ffffff;
        }


form select {
    color: #fff;
    margin-bottom: 10px;
    }

form input[type="checkbox"] {
    float: left;
    
    
}

form input[type="submit"] {
    background-color: green;
    padding: 10px 20px; 
    height: 40px;
    border: 1px solid green;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}






/*
label, select{
    color: #ffffff;
}
*/

/*
input[type="text"]:focus,input[type="email"]:focus, 
input[type="tel"]:focus,input[type="radio"]:focus, select:focus, textarea:focus {
    background-color:#4e708c;
    color: #ffffff;
    border-color: #ffffff;
}
   
input[type="submit"] {
    background-color: green;
    color:white;
    width: 80px;
    height: 40px;
}







*/
