$zielony: #1ac056;
$bialy: white;
$font-family: 'Lato', 'sans-serif';
$font2: "Roboco", sans-serif;
$niebieski: #426684;
$granatowy:#2b4a64;
$ciemno-granatowy: #213b50;
$ciemny-granat: #142634;
$czarny: #291f1a;

