#green {
  position: relative;
  height: 400px;
  width: 400px;
  background-color:  green;
  border-style: solid;
  border-color: yellow;
}


#blue {
    position: absolute;
    left: 200px;
    width: 200px;
    height: 200px;
    background-color: blue;
}

#red {
    position: absolute;
    width: 200px;
    height: 200px;
    top:200px;
    background-color: red;
}

#circle{
  position: absolute;
  background-color: yellow;
  width: 100px;
	height: 100px;
	border-radius: 100%;
	top:50px;
	left:50px;
}
#circle2{
  position: absolute;
  background-color: white;
  width: 100px;
	height: 100px;
	border-radius: 100%;
	top:150px;
	left:150px;
	border-style: solid;
  border-color: black;
}
  #circle3{
  position: absolute;
  background-color: orange;
  width: 100px;
	height: 100px;
	border-radius: 100%;
	bottom:50px;
	right:50px;
  }
