/*
@media all and (max-width: 1200px){
    .portfolio-item {
        width: 49%;
    }
    .portfolio-item:last-child {
        width: 100%;
    }
}
*/

@media all and (max-width: 992px) {

    .navbar-light .navbar-toggler {
        color: #1ac056;

        border: solid;
    }

    .navbar-light .navbar-toggler:hover {
        background: radial-gradient(white, darkgrey);
        color: gray;
    }

    #main-nav,
    #main-nav.scroll {
        background-color: white;
    }

    #main-nav .nav-item {
        text-align: right;
        padding: 10px 0;
        border-top: 1px solid rgba(119, 119, 119, 0.5);
        background-color: white;
    }

    #main-nav .nav-item a {
        color: #1ac056;
    }

    #contact .container-contact .contact-data {
        width: 100%;
        text-align: center;
    }


    #contact .contact-social-icons a:hover {
        transform: scale(1.3);
    }