

@media all and (max-width: 992px) {

    .container {
        width: 450px;
        margin: 0 auto;
        left: 10%;
        margin-top: 20px;
        position: static;
      
   
    }

    .zdjecia {
        margin-bottom: 20px;
        position: relative;
        text-align: center;
        top: -10%;
      
        
        }
    
}

@media all and (max-width: 480px) {
    .container {
        width: 250px;
        top: 15%;
        position: static;
    }
    
    #zdjecia {
        margin-bottom: 20px;
    }
}


